
<main>
    
    <div class="container">
        <div style="margin-bottom: 30px">
            <table id="tabela">
                <tr >
                  <th>Ofertă</th>
                  <th>Calificare</th>
                  <th>Data limită</th>
                </tr>
                <tr>
                  <td>Fotograf</td>
                  <td>artist fotograf</td>
                  <td>21/04/2022</td>
                </tr>
                <tr>
                    <td>Desenator</td>
                    <td>licențiat în arte sau design</td>
                    <td>15/05/2022</td>
                </tr>
                <tr>
                    <td>Web Designer</td>
                    <td>experiență relevantă</td>
                    <td>20/06/2022</td>
                </tr>
                </table>
        </div>
        <div >
            <h5 style="text-align: center; margin-bottom: 70px; margin-top: 70px;">Trimite-ne CV-ul tău, însoțit de o scrisoare de intenție   
                <a href="contact">aici</a>
            </h5>
        </div>        
    </div>    
</main>