
<main>
    <div>
        <div>
            <h3>Policy brief & purpose</h3>
            <img src="app/img/privacy1.png" class="card-img" alt="..." style="float:right; width:200px; margin-left:15px;" />
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore temporibus, natus aliquid quod consequuntur modi obcaecati, minima porro sapiente quia, eligendi suscipit. Magni, aliquid doloremque.</p>
            <p>Nobis, qui eum? Velit dolor placeat consequatur quasi perspiciatis quam delectus ipsum ducimus. Laborum nam facilis eos minus quos maxime, at exercitationem harum dolore sapiente?</p>
            <p>Doloribus sed minus quidem, ipsa quibusdam, veniam mollitia cumque, explicabo reprehenderit facilis animi omnis praesentium odio laudantium blanditiis ab expedita eveniet. Aliquid deserunt numquam odio!</p>
            
            <h3>Why we process your information </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum iste, veritatis veniam et quasi dolores sequi laudantium tenetur doloribus modi debitis eum nesciunt explicabo fuga.</p>
            <p>Quidem, perspiciatis? Natus quae sunt impedit reiciendis, omnis saepe illum repudiandae amet atque in repellendus rem similique nobis harum, architecto, accusantium commodi ipsam laborum voluptas.</p>
            <p>Recusandae consectetur tenetur, quisquam voluptatum itaque voluptate rerum repellat blanditiis eius sint quidem eum cum optio iure maxime, cupiditate quae earum, accusamus ducimus unde sit?</p>
            <p>Iure nulla inventore temporibus culpa ea quasi magnam, minus, minima suscipit laborum odio placeat dolorum voluptatem labore esse doloribus tempore nobis pariatur, quae dolore cumque.</p>
            <p>Distinctio quisquam fugit ex a aliquid tempore consequatur accusantium aspernatur rem ipsa omnis, quibusdam ducimus maiores cum commodi. Consequatur autem commodi odio accusantium doloribus aspernatur.</p>
            
            <h3>Your rights over your information </h3>
            <img src="app/img/privacy2.png" class="card-img" alt="..."  style="float:left; margin-right: 20px; width:200px; margin-left:15px;"/>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate velit sunt libero fugit, aliquid aut suscipit voluptatum magnam excepturi est! Necessitatibus, officia enim ducimus recusandae sint repellendus ad quis facilis!</p>
            <p>Corrupti ad esse distinctio repellendus aliquam cupiditate dolore, debitis id similique illo possimus maiores consequatur nobis exercitationem cumque quas pariatur rerum veniam! Fugiat assumenda officiis dolorum eius corrupti dignissimos sapiente!</p>
            <p>Exercitationem quod dolorum id placeat molestiae nisi cupiditate sed libero beatae reprehenderit cum minima natus porro autem aspernatur, repudiandae ratione possimus alias, odit, pariatur blanditiis? Aliquam eos officia perferendis odit!</p>
            <p>Ratione quas nesciunt atque unde illum, quibusdam debitis dolorum fugit repellat eligendi pariatur rem soluta! Nihil, accusantium nesciunt similique quas voluptate qui mollitia deleniti. Aut cum fugit repellat dicta earum?</p>
            <p>Sint, necessitatibus error! Iste ut est odit error aspernatur fugit dolore architecto nesciunt cumque, numquam dignissimos tenetur mollitia at animi placeat minus atque? Ex distinctio maxime labore quod iure et?</p>
            <p>Nulla cumque voluptatum, perspiciatis sequi consectetur maxime consequatur reiciendis, facere ducimus itaque deleniti dolorum voluptates libero facilis fugiat error eaque quaerat! Harum neque repellendus quis totam obcaecati quo expedita explicabo?</p>
            <p>Atque beatae dolorum sint repellendus, rerum ullam reprehenderit, doloremque hic aperiam voluptas praesentium dolor libero autem est eos numquam. Iste voluptatem ut quaerat dolores corporis officia autem laborum! Aliquid, cumque.</p>
    
        </div>        
    </div>
</main>