
<main>    
  <!-- <div class="row"> -->
    <div
    class="container-fluid row d-flex align-items-start justify-content-evenly">
    <div class="col-4">
      <!-- Logo -->
      <a href="home" target=""
            ><img
              class=""
              src="app/img/LogoAlphaMedia7.png"
              alt=""
              width="300px"
          /></a>    
    </div>

    <div class="col-5 pt-5 pb-5">
        <h1>Contactează-ne la:</h1>
      <p>
        Adresa: Str. Georg Friedrich Bernhard Riemann, nr. 8 </br>
        75000 - Fractalia
      </p>
      <p>
        Tel.: 00 40 364 000 000
      </p>
      <p>
          Fax: 00 40 364 000 000        
      </p>
      <p>
          Sau  lasă-ne un mesaj în <i style="font-weight: bold; color: #ff1a1a">formularul de contact!</i>        
      </p>
    </div>
   

  </div>
    
      
</main>