<main>
    <div class="bg"></div>
    <h2>Trimite-ne o solicitare de ofertă</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, recusandae.</p>
    <p>Officia explicabo ducimus est hic minima. Amet nostrum ipsum aliquid.</p>
    <p>Quaerat, iure impedit in sequi culpa est. Sint, sunt eveniet?</p>

    <div >
        <h5 style="text-align: center; margin-bottom: 70px; margin-top: 70px;">Trimite-ne solicitarea ta    
            <a href="contact">aici</a>
        </h5>
    </div>       
</main>