
<main>
    <!-- CONTAINER #1 --> 
    <div
      class="container-fluid row d-flex align-items-start justify-content-evenly">
      <div class="col-5 pt-5 pb-5">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus,
          illo tempore? Quis obcaecati ratione, odit perspiciatis ea nesciunt
          porro accusantium. Sed eos nulla vel cum consequuntur delectus
          placeat? Cupiditate, quidem.
        </p>
        <p>
          Eaque earum asperiores ipsa natus cum ad, numquam, veniam dolorum
          dignissimos molestiae debitis tempore non animi fuga libero beatae
          voluptatem nihil itaque mollitia nesciunt repellat ratione accusamus
          aliquid. Non, possimus?
        </p>
        <p>
          Sequi esse magni dolorum, suscipit nisi maxime sunt incidunt ullam
          fuga illo accusantium quasi ipsam illum fugit perferendis harum
          praesentium nesciunt delectus alias vel? Consequuntur corporis ipsa
          sapiente ullam velit?
        </p>
      </div>

      <div class="col-5 ps-5 pt-5 pb-5 border-start">
        <p>
          Illum esse ipsam fugit non, dolorum hic nesciunt perspiciatis, ipsa
          quod qui placeat veritatis velit. Doloremque, officiis harum. In
          ducimus, vel ad delectus expedita iusto ipsum consequatur ratione
          consectetur ea?
        </p>
        <p>
          Magnam voluptas omnis deserunt molestias aut aliquam! Minima ea quia
          ad itaque assumenda magnam minus, iste, quis nostrum obcaecati eaque
          nihil, optio id! Ratione placeat, aliquid dolorem cum dolores ducimus.
        </p>
      </div>
    </div>

    <!-- CONTAINER #2 -->
    <!-- <div class="card row text-white d-flex">
      <img src="app/img/dog1.jpg" class="card-img" alt="..." />
      <div class="card-img-overlay" style="padding-top: 250px">
        <h1 class="card-title text-dark text-center text-decoration" style="color:rgb(243, 146, 20)">
          QUO USQUE ABUTERE CATILINA
        </h1>
      </div>
    </div>     -->

     
    
    <!-- <div class="container">
      <img src="app\img\design.png" alt="Nature" style="width:100%;">
      <div class="text-block">
        <h4>Nature</h4>
        <p>What a beautiful sunrise</p>
      </div>
    </div> -->

    <div class="card row text-white d-flex">
      <img src="app/img/design2.jpg" class="card-img" style="margin-bottom:35px" alt="..." />
      <div class="card-img-overlay" style="padding-top: 250px">
        <h1 class="card-title text-dark text-center text-decoration" style="color:rgb(243, 146, 20)">
          QUO USQUE ABUTERE CATILINA
        </h1>
        <p class="text-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur facilis laudantium quaerat facere deserunt consectetur.</p>
      </div>
    </div> 


    <!-- <div class="container">
      <img src="app\img\abstract.png" id="abstract" alt="imaginea lipsește">
      <div class="text-block">
        <h4> QUO USQUE ABUTERE CATILINA</h4>
        <p>lorem ipsum</p>
      </div>
    </div>  -->


    
</main>