
<main>      
    <!-- CONTAINER #6 -->
    <div class="container6 bg-dark text-white pb-5 pt-4 mb-5">
      <div class="text-center pt-5 pb-5">
        <h3 id="parteneri text-center">Products:</h3>
      </div>

      <div class="row d-flex justify-content-around">
        <div class="card pb-5" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title text-dark text-center fs-3">VISUAL IDENTITY</h5>
          </div>
          <img src="app/img/product-visual.png" class="card-img-top" alt="..." />
        </div>

        <div class="card pb-5" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title text-dark text-center fs-3">PRODUCT DESIGN</h5>
          </div>
          <img src="app/img/product-product.png" class="card-img-top" alt="..." />
        </div>

        <div class="card pb-5" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title text-dark text-center fs-3">WEB </br> DESIGN</h5>
          </div>
          <img src="app/img/product-webdesign.png" class="card-img-top" alt="..." />
        </div>
      </div>
    </div>

    <!-- CONTAINER #7 -->
    <div class="row d-flex justify-content-around pt-5 pb-5 container7">
      <div class="card border-0" style="width: 18rem">
        <img
          class="rounded-circle"
          src="app/img/avatar01.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body text-center">
          <h5 class="card-title">Ion Ionescu</h5>
          <p class="card-text">Web Designer</p>
          <a href="app\img\EuropassCVno1.pdf" class="btn btn-primary">Vezi CV-ul</a>
        </div>
      </div>

      <div class="card border-0" style="width: 18rem">
        <img
          class="rounded-circle"
          src="app/img/avatar02.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body text-center">
          <h5 class="card-title">George Georgescu</h5>
          <p class="card-text">Graphic Designer</p>
          <a href="app\img\EuropassCVno2.pdf" class="btn btn-primary">Vezi CV-ul</a>
        </div>
      </div>
    </div>
</main>