<main>
    <h2>Reclamații</h2>
    <div style="display: flex">
        <div style="padding-top: 25px;">
            <ol>
                <li>
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing.</h5>
                </li>
                <li>
                    <h5>Quisquam corrupti nobis eum assumenda earum voluptatum.</h5>
                </li>
                <li>
                    <h5>Explicabo, cupiditate! Voluptatibus eveniet obcaecati rem laboriosam?</h5>
                </li>
                <li>
                    <h5>Accusantium, quae suscipit fugiat inventore nisi maiores?</h5>
                </li>
                <li>
                    <h5>Mollitia dignissimos excepturi, ab impedit ad quis.</h5>
                </li>
            </ol>

            </br>
            </br>
            </br>

            <h4 style="padding-top: 25px; padding-bottom: 50px;">Alte informații despre drepturile consumatorului, </br> găsești pe site-ul <a href="https://anpc.ro/" target="_blank">ANPC</a> </h4>
    
        </div>
        <div class="mb-5" style="margin-left: 75px">
            <img src="app\img\consumer.png" alt="nu găsesc poza">
        </div>
    
    </div>

</main>